:root {
    --vermelho: #921233;
    --azul-claro: #4781FF;
    --branco: #FFFFFF;
    --amarelo:#FFCC00;
    --font-principal: "Montserrat";
    --azul-escuro: #023E73 /*extraí a cor da h2 "fases educacionais" no figma*/
}

body {
    font-family: var(--font-principal);
}
/*Cabeçalho*/
.cabecalho{
    display: flex;
    flex-direction: column;
}

.topo-cabecalho{
    background-color: var(--vermelho);
    color:var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    4px 4px 10px rgba(0, 0, 0, 0.15);
}

.contatos {
    display: flex; 
    align-items: center; 
    gap: 0.8em; 
    margin-left: 6em;
}

.social-icones {
    display: flex; 
    align-items: center; 
    gap: 1em; 
    margin-right: 6em;
}
.navbar{
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding: 10px 20px;
}
.nav-cabecalho{
    display: flex;
    background-color: var(--azul-claro);
    text-align: justify;
}

.nav-links {

    list-style: none;
    display: flex; 
    gap: 70px; 
    font-size: 19px;
    
    

}

.nav-links li {
    position: relative;
}


.nav-links a {
    text-decoration: none;
    color: var(--branco);
    padding: 10px 15px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
}
.nav-links a:hover,
.nav-links a:focus,
.nav-links a.active {
    color: var(--amarelo);
    border-bottom: 1px solid var(--amarelo);
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--azul-claro);
    color: var(--branco);
    display: none;
    min-width: 150px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}
/* Fim do Cabeçalho*/

/*Começo do Banner*/
.carrossel {
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    width: 400%; /* 4 imagens, cada uma com 100% de largura */
    transition: transform 1s ease-in-out;
}

.slide {
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Botões de navegação manual */
.manual-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.manual-btn {
    width: 12px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.5); /* 50% transparente */
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.manual-btn:hover {
    background: var(--branco);
}

.manual-btn.active {
    background: var(--branco);
}


/*TALES DAQUI PRA BAIXO */

.fases-educacionais {
    padding: 2rem;
    text-align: center;
    background-color: var(--branco);
}

.fases-educacionais h2 {
    color: var(--azul-escuro);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-decoration: underline var(--amarelo) 3px;
    padding: 1rem;
    text-transform: uppercase;
}

.fases-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 7px;
    
}

.fase {
    background-color:var(--vermelho);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
    position: relative;
    overflow: hidden;

}

.imagem-fase {
    width: 119%; /*deixar mais proximo do figma*/
    height: auto;
    margin-bottom: 1rem;
    display: block;
    margin-left: -2%;
    position: relative;
    left: -10%;
    margin-top: -5%;
}

/* Faixa vermelha na parte inferior */
.fase::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Altura da faixa vermelha para preencher tudo */
    background-color: #921233;
    z-index: 2;
}

.fase h3 {
    font-size: 1.5rem;
    margin-bottom: 1em;
    position: relative;
    z-index: 3; /* Garante que o texto fique acima da faixa vermelha */
    color: var(--branco); /*dar contraste*/
}

.btn-ver-mais {
    background-color: var(--vermelho); /*cor padrão*/
    color: var(--branco);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 3; /* Garante que o botão fique acima da faixa vermelha */ /*a faixa é td agr*/
    border: var(--branco) solid 2px;
    border-radius: 20px;
}

.chamada-final {
    margin-top: 2rem;
    background-color: #F5F5F5;
    text-align: center;
    padding: 2rem;
    /*ajustei para aparentar mais o figma*/
    }

.chamada-final p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-matricule-se {
    font-size: larger;
    background-color: var(--azul-claro);/*ajustei a cor*/
    color: var(--branco);
    padding: 1.5rem 1.8rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

    /*TALES DAQUI PRA CIMA*/

    /*Tales 14/03*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--branco);
}

#diferenciais {
    padding: 40px 20px;
    background-color: var(--branco);
    border-radius: 8px;
    margin: 20px auto;
    max-width: 1200px;
}

/* Título com linha amarela */
.titulo-container {
    text-align: left;
    margin-bottom: 30px;
    margin-top: 2em;
    margin-left: 2.5em;
}

.titulo-container h1 {
    font-size: 2.5em;
    color: var(--azul-escuro);    
    margin-bottom: 10px;
}

.linha-amarela {
    width: 350px;
    height: 5px;
    background-color: #FFD700; /* Amarelo */
    margin-left: 0;
}

#diferenciais p {
    font-size: 1.2em;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 40px;
}

/* Grid dos diferenciais */
.grid-diferenciais {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    gap: 20px; /* Espaço entre os diferenciais */
}

.diferencial {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.diferencial img {
    width: 80px; 
    height: auto;
    margin-right: 15px;
    border-radius: 8px;
}

.diferencial .texto {
    flex: 1;
}

.diferencial h2 {
    font-size: 1.5em; 
    color: #444;
    margin-bottom: 10px;
}

.diferencial p {
    font-size: 1em; 
    color: #666;
    line-height: 1.6;
}
/*Tales daqui pra cima */



/*formando talentos EM TESTES*/

.formando-talentos { 
    background:  url("/img/teste11.jpg" );
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 20px 0; 
    border-radius: 10px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    justify-content: flex-start;
    height: 600px;
    position: relative;
    overflow: hidden;
    transition: background-position 0.3s ease-out;
}


.formando-talentos h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

.talentos-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    height: auto;
    text-align: center;
    align-items: center;
    flex-grow: 1;
}

.efeito-box{
    visibility: hidden;
}

.talentos-box {
    background: white;
    color: #8b0000;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.numero {
    font-size: 64px;
    font-weight: 600;
    margin-top: 10px;
    font-family: var(--font-principal);
    margin-bottom: 10px;
}

.talentos-box p {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    font-family: var(--font-principal);
}

/*formando talentos EM TESTES*/

/* GOOGLE MAPS*/
.mapBox{
    position: relative;
    width: 600px;
    height: 500px;
    background: var(--branco);

}
.mapBox iframe{
    width: 100%;
    height: 100%;
}
/* FORMULARIO*/

.map-formulario{
    display: flex;
    justify-content: center;
}
.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap
}

