:root {
    --vermelho: #921233;
    --azul-claro: #4781FF;
    --branco: #FFFFFF;
    --amarelo:#FFCC00;
    --font-principal: "Montserrat";
    --azul-escuro: #023E73 /*extraí a cor da h2 "fases educacionais" no figma*/
}

body {
    font-family: var(--font-principal);
}

.cabecalho{
    display: flex;
    flex-direction: column;
}

.topo-cabecalho{
    background-color: var(--vermelho);
    color:var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    font-size: 12px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
    4px 4px 10px rgba(0, 0, 0, 0.15);
}

.contatos {
    display: flex; 
    align-items: center; 
    gap: 0.8em; 
    margin-left: 6em;
}

.social-icones {
    display: flex; 
    align-items: center; 
    gap: 1em; 
    margin-right: 6em;
}
.navbar{
        display: flex; 
        align-items: center; 
        justify-content: space-between; 
        padding: 10px 20px;
}
.nav-cabecalho{
    display: flex;
    background-color: var(--azul-claro);
    text-align: justify;
}

.nav-links {

    list-style: none;
    display: flex; 
    gap: 70px; 
    font-size: 19px;
    
    

}

.nav-links li {
    position: relative;
}


.nav-links a {
    text-decoration: none;
    color: var(--branco);
    padding: 10px 15px;
    display: block;
    margin-top: 15px;
    transition: 0.3s;
}
.nav-links a:hover,
.nav-links a:focus,
.nav-links a.active {
    color: var(--amarelo);
    border-bottom: 1px solid var(--amarelo);
}


.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--azul-claro);
    color: var(--branco);
    display: none;
    min-width: 150px;
    list-style: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/*TALES DAQUI PRA BAIXO */

.fases-educacionais {
    padding: 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

.fases-educacionais h2 {
    color: #023E73;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-decoration: underline #FFCC00 5px;
    padding: 1rem;
}

.fases-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.fase {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 22%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.imagem-fase {
    width: 119%; /*deixar mais proximo do figma*/
    height: auto;
    margin-bottom: 1rem;
    display: block;
    margin-left: -2%;
    position: relative;
    left: -10%;
    margin-top: -5%;
}

/* Faixa vermelha na parte inferior */
.fase::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Altura da faixa vermelha para preencher tudo */
    background-color: #921233;
    z-index: 2;
}

.fase h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    position: relative;
    z-index: 3; /* Garante que o texto fique acima da faixa vermelha */
    color: white; /*dar contraste*/
}

.btn-ver-mais {
    background-color: #921233; /*cor padrão*/
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 3; /* Garante que o botão fique acima da faixa vermelha */ /*a faixa é td agr*/
    border: white solid 2px;
}

.chamada-final {
    margin-top: 2rem;
    background-color: #E8E8E8;
    text-align: center;
    padding: 2rem;
    /*ajustei para aparentar mais o figma*/
    }

.chamada-final p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.btn-matricule-se {
    font-size: larger;
    background-color: #4781FF;/*ajustei a cor*/
    color: #fff;
    padding: 1.5rem 1.8rem;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
}

    /*TALES DAQUI PRA CIMA*/
