@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* Definição das cores */
:root {
    --vermelho: #921233; /* Vermelho corrigido */
    --amarelo: #FFCC00; /* Amarelo corrigido */
    --azul-escuro: #2B4D99; /* Azul corrigido */
    --branco: #FFFFFF;
}


.titulo-linha {
    text-align: center;
    margin: 3rem auto; 
    max-width: 1200px; 
    padding: 0 1rem; 
}


.titulo-banner {
    font-size: 2rem;
    color: var(--azul-escuro);
    margin-bottom: 1rem; 
    text-transform: uppercase;
    text-align: center; 
    font-family: 'Montserrat', sans-serif; 
}


.linha-amarela {
    width: 80%; 
    height: 5px;
    background-color: var(--amarelo);
    margin: 0 auto;
}


.quem-somos {
    padding: 2em; 
    background-color: var(--branco);
    margin: 0;
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}


.quem-somos-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}


.quem-somos-texto {
    flex: 0 0 65%;
    font-weight: 500;
    font-size: 20px;
    padding-right: 2rem;
    
}


.quem-somos-texto p {
    margin-bottom: 5rem;
    line-height: 1.3;
}


.quem-somos-imagem {
    position: absolute;
    right: 0;
    top: 80px;
    width: 30%;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.8));
}


.quem-somos-imagem img {
    margin-top: 300px;
    max-width: 350px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}


.titulo-vermelho {
    color: var(--vermelho);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 1rem;
    margin: 3rem 0 1.5rem 0;
    font-family: 'Montserrat', sans-serif;
}


.assinatura {
    font-style: italic;
    text-align: right;
    margin-top: 1rem;
    font-size: 24px;
    font-weight: 600;
    color: var(--vermelho); 
    max-width: 300px;
}
